

@font-face {
  font-family: "GT-Walsheim";
  src: url("./assets/GT-Walsheim-Regular.woff2");
  src: url("./assets/GT-Walsheim-Regular.woff2") format("woff2"),
}

/* "GT-Walsheim", */

*
  font-family Rubik !important


//  table top earcy abar style
.top-search-bar {
  display: flex
  align-items: flex-end
}

// rmeove underline from link globally
.link{
  text-decoration: none;
}


// stle for scroll bar
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  scrollbar-color: #888 #fbfafc;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*:-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #BBB;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #999;
}