

@font-face {
  font-family: "GT-Walsheim";
  src: url("./assets/GT-Walsheim-Regular.woff2");
  src: url("./assets/GT-Walsheim-Regular.woff2") format("woff2"),
}

/* "GT-Walsheim", */

*
  font-family Rubik !important



//  table top earcy abar style
.top-search-bar {
  display: flex
  align-items: flex-end
}

// rmeove underline from link globally
.link{
  text-decoration: none;
}